/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
  }
  
  .area_container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .word_box,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #definition_label{
    margin-bottom: 10px; 
    font-weight: bold; 
  
  }
  
  input[type="submit"], #search_button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 25px; 
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 20px;
    color: #333;
  }